<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/session.css">
    <script src="/js/app.js" charset="utf-8" defer></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="content-container">
            <div class="dash-date">
                <%= months[date[0]] %> <%= date[2] %>
            </div>
            <div class="quote">

            </div>
            <div class="entry-list-today">
                Today
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
