<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/session-head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="content-container">
            <div class="quote-container">
                <p class="quote"><%= quote.q %></p>
                <p class="author"><%= quote.a %></p>
            </div>
            <div class="greeting">
                <h5>Hello, <%= currentUser.firstName %>. Today is <%= months[thisMonth] %> <%= thisDate %>, <%= thisYear %></h5>
            </div>
            <!-- TODAY -->
            <fieldset class="entry-list today">
                <legend><h6>Today's Entries</h6></legend>
                <% if (logs.length === 0) { %>
                    <p>You haven't written any new journal entries for today. Press the '+' button at the bottom of the screen to write one now!</p>
                <% } %>
                <% for (let log of logs) { %>
                    <div class="entry-container">
                        <p class="log-title">
                            <a href="/journal/entry/<%= log._id %>"><%= log.title %></a>
                        </p>
                        <p class="log-date">
                            <%= months[log.monthCreated] %> <%= log.dateCreated %>, <%= log.yearCreated %>
                        </p>
                        <p class="preview">
                            <%= log.entry.slice(0, 100) %>...
                        </p>
                        <p class="tag-container">
                            <% for (let tag of log.moodWords) { %>
                                <span class="mood-tag">
                                    <%= tag %>
                                </span>
                            <% } %>
                        </p>
                    </div>
                <% } %>
            </fieldset>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
