<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/session-head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="content-container">
            <div class="quote-container">
                <p class="quote"><%= quote.q %></p>
                <p class="author"><%= quote.a %></p>
            </div>
            <div class="dash-date">
                <a class="button button-primary month-arrow" href=""><</a>
                <h5><%= months[today[0]] %> <%= today[2] %></h5>
                <a class="button button-primary month-arrow" href="">></a>
            </div>
            <fieldset class="entry-list today">
                <legend><h5>Today's Entries</h5></legend>
                <% for (let log of logs) {
                    if (log.createdAt.toLocaleDateString === today) { %>
                        <div>log</div>
                    <% }
                } %>
            </fieldset>
            <fieldset class="entry-list today">
                <legend><h5>This Month's Entries</h5></legend>
                <!-- ################################# -->
            </fieldset>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
