<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/session.css">
    <script src="/js/app.js" charset="utf-8" defer></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="content-container">
            <div class="quote-container">
                <p class="quote"><%= quote.q %></p>
                <p class="author"><%= quote.a %></p>
            </div>
            <div class="dash-date">
                <a class="button button-primary month-arrow" href=""><</a>
                <h5><%= months[date[0]] %> <%= date[2] %></h5>
                <a class="button button-primary month-arrow" href="">></a>
            </div>
            <fieldset class="entry-list today">
                <legend><h5>Today</h5></legend>
                <!-- ################################# -->
            </fieldset>
            <fieldset class="entry-list today">
                <legend><h5>This Month</h5></legend>
                <!-- ################################# -->
            </fieldset>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
